<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Testing Rules</h1>
    <div> 
        data1 = {
        'first_name': 'Luke walker',
        'last_name': 'Skywalker',
        'email': 'luke@rebels.org',
        'age': 25
    }
    <br>
    data2 = {
        'first_name': 'Luke',
        'last_name': 'Vader',
        'email': 'dvader@rebels.org',
        'age': 1
    }</div>
    <br>
    data3 = {
        'first_name': 'Luke walker',
        'last_name': 'Skywalker',
        'email': 'luke@rebels.org',
        'age': 25,
        'title': 'Harry Potter',
        'released': '01-02-2002',
        'publisher': 'JK Rowling',
        'issue' : 0,
        't_no_articles': None,
        'volume_number': 'ejwhfje',
        'publication_month' : 10,
        'publication_year': '01-01-2023'
        }
        
</br>
    <h2>
        rules and it's respective outcomes are {{output}}
    </h2>
    
</body>
</html>